<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        
    </head>
    <body class="body-main">
        <header></header>
        <main>
            <section class="herosection">
                <%= image_tag("banner-blue-shade.png",class: "header-top-img") %>
                <div class="herosection-slider">
                    <div class="slide-item slide1"></div>
                    <div class="slide-item slide2"></div>
                    <div class="slide-item slide3"></div>
                    <div class="slide-item slide4"></div>
                    <div class="slide-item slide5"></div>
                </div>
                <div class="logoOnBanner">
                    <%= image_tag("logo.png") %>
                </div>
               
                <div class="text-slider-section">
                    <div class="herotitle">
                        <h1>Be Guest At Your Event</h1>
                    </div>
                </div>
            </section>
            <section class="corporate-events">
                <div class="container">
                    <h2 class="block-title">
                        Events And Meeting Planning Company
                    </h2>
                    <div class="corporate-events-content">
                        <p>&nbsp;</p>
                        <p>
                            <span style="font-weight: 400;">
                                5 Dimensions is a corporate event and meeting planning company. &nbsp;We work with companies of all sizes, including local and global brands, to plan and execute meetings and events that exceed your corporate goals. &nbsp;We work with you to produce events including product launches, shareholder meetings, sales meetings, conferences, experiential events, incentive events, trade shows, galas and more.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;">
                                5 Dimensions Events is your start to finish corporate meeting and events partner. &nbsp;We handle it all for you: 
                            </span>
                            <span style="font-weight: 400;">meeting and event design</span>                 
                            <span style="font-weight: 400;">, </span>
                            <span style="font-weight: 400;"> wedding planning</span>
                            <span style="font-weight: 400;">, </span>
                            <span style="font-weight: 400;">corporate events planning</span>
                            <span style="font-weight: 400;">, </span>
                            <span style="font-weight: 400;">organise social gatherings</span>
                            <span style="font-weight: 400;">, and 
                            </span>
                            <span style="font-weight: 400;">destination management</span><span style="font-weight: 400;">.</span></p><p><span style="font-weight: 400;">At 5 Dimensions we focus on helping you use events to&nbsp;achieve your&nbsp;strategic business goals. &nbsp;We take your event inspiration and make it come to life. &nbsp;Our team&nbsp;members&nbsp;are corporate meeting and event experts who manage every detail so that your event is flawless.</span></p><p><span style="font-weight: 400;">To get started on making your next event one <b>remember to call us at 8587860180/8826060971 or mail us at events@5dimensions.co.in</b>
                        </p>

                    </div>
                </div>
            </section>
            <section class="what icons-large">
                <div class="container">
                    <h2 class="block-title">
                        WHAT WE DO
                    </h2>
                    <ul>
                        <li class="design">
                          <%= image_tag("Icon_Design.png") %>
                        </li>
                        <li>
                          <%= image_tag("Icon_Production.png") %>
                        </li>
                        <li class="logistics">
                          <%= image_tag("Icon_MeetingPlanning.png") %>
                        </li>
                        <li class="half">
                          <%= image_tag("Icon_Sourcing.png") %>
                        </li>
                        <li class="half">
                          <%= image_tag("Icon_DM.png") %>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="work-circle">
                <div class="container">
                    <h2 class="block-title">
                        Our Work
                    </h2>
                    <ul>
                        <li> 
                            <span class="side front">
                                <h6>Meetings &amp; Conferences</h6>
                            </span>
                            <span class="side back" style="padding-top:33%;">
                                <h6>Meetings &amp; Conferences</h6>
                                <br><br>
                            </span>
                        </li>
                        <li class="blue">
                            <span class="side front">
                                <h6>Destination Wedding</h6>
                            </span> 
                            <span class="side back" style="padding-top:33%;">
                                <h6>Destination Wedding</h6>
                                <br>
                            </span>
                        </li>
                        <li class="left"> 
                            <span class="side front">
                                <h6>Tradeshows</h6></span>
                            <span class="side back" style="padding-top:33%;">
                                <h6>Tradeshows</h6>
                                <br><br>
                            </span></li>
                        <li class="green">
                          <span class="side front"><h6>Roadshows</h6></span> <span class="side back" style="padding-top:20%;"><h6>Roadshows</h6><br><br></span></li><li class="pink"> <span class="side front"><h6>Product Launches</h6></span> <span class="side back" style="padding-top:33%;"><h6>Product Launches</h6><br><br></span></li><li class="blue-light"> <span class="side front"><h6>Galas</h6></span> <span class="side back" style="padding-top:20%;"><h6>Galas</h6><br><br></span></li><li class="right"> <span class="side front"><h6>Experiential Events</h6></span> <span class="side back" style="padding-top:33%;"><h6>Experiential Events</h6><br><br></span></li></ul>
                </div>
            </section>

            <!-- <section class="connect-us">
                <div class="container">
                    <h2 class="block-title">STAY CONNECTED</h2>
                    <div class="social-media">
                        <a class="social-media-link facebook">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a class="social-media-link twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="social-media-link instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="social-media-link linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="social-media-link pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a class="social-media-link google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </section> -->
            
        </main>
        <footer>
            <div class="footer-top">
              <div class="sidebar-column col-md-5">
                  <aside id="sydney_contact_info-2" class="widget sydney_contact_info_widget">
                      <h6 class="footer-title">
                          Corporate Office</a>
                      </h6>
                      <div class="contact-address">
                          <span>
                              <i class="fa fa-map-marker"></i>
                          </span>
                          A-7 Paryavaran Complex, IGNOU Road, New Delhi-110030
                      </div>
                      <div class="contact-email">
                          <span>
                              <i class="fa fa-envelope-o"></i>
                          </span>
                          <a href="mailto:info@fourthwallevents.com">events@5dimensions.co.in</a>
                      </div>
                      <div class="contact-phone">
                          <span>
                              <i class="fa fa-phone"></i>
                          </span>
                          8587860180/8826060971
                      </div>
                  </aside>
              </div>
              <div class="sidebar-column col-md-7">
                  <div class="container">
                    <h6 class="footer-title">Write Us</h6>
                    <div>
                      <%= form_tag("/send_request", method: "post") do %>
                        <%= label_tag(:name, "Your Name") %>
                        <%= text_field_tag :name, nil,:placeholder => "Your Name", :class => "form-control text-fields",:required => true %>
                        <%= label_tag(:email, "Your Email") %>
                        <%= email_field_tag :email, nil,:placeholder => "Your Email", :class => "form-control text-fields",:required => true %>
                        <%= label_tag(:message, "Message") %>
                        <%= text_area_tag :message, nil,:placeholder => "Hi, please write your message here!", size: "24x6", :class => "form-control text-fields",:required => true %>
                        <%= submit_tag("Send Request", class: "btn btn-default submit-btn") %>
                      <% end %>
                    </div>
              </div>
            </div>
            <div class="copy-right">
                <div class="site-info container">
                    © 2018 Five Dimensions Events 
                </div>
            </div>
        </footer>
        
        <script>
            $(document).ready(function () {
                $(window).resize(function () {
                    var bodyheight = $(this).height();
                    $(".herosection").height(bodyheight);
                }).resize();
            });
            $('.herosection-slider').slick({
                fade: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 2000
            });
            $('.client-slide').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 5,
                arrows: false,
                dots: true
            });
            $('.testimonial_slider').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                arrows: false,
                dots: true,
                autoplay:true
            });
            
        </script> 
    </body>
</html>
