<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        
    </head>
    <body>
        <header></header>
        <main>
            <section class="herosection">
                <%= image_tag("banner-blue-shade.png",class: "header-top-img") %>
                <div class="herosection-slider">
                    <div class="slide-item slide1"></div>
                    <div class="slide-item slide2"></div>
                    <div class="slide-item slide3"></div>
                    <div class="slide-item slide4"></div>
                    <div class="slide-item slide5"></div>
                </div>
                <div class="logoOnBanner">
                    <%= image_tag("logo.png") %>
                </div>
               
                <div class="text-slider-section">
                    <div class="herotitle">
                        <h1>Make Great Things Happen</h1>
                    </div>
                    <a href="#primary" class="roll-button button-slider">Learn More</a>
                </div>
            </section>
            <div class="clients">
                <div class="container">
                    <div class="client-slide">
                        <div class="client-sideitem">
                            <%= image_tag("Showtime-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("c-logo-5.jpg") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("London-Partners-Logo.png") %>                            
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Delta-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("HBO-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("IBM-Logo-1.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("ELC_logo_new.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Tourism-Toronto-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Tourism-Toronto-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Verizon_v2.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Twitter-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Tourism-Toronto-Logo.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Sikorsky-Logo-1.png") %>
                        </div>
                        <div class="client-sideitem">
                            <%= image_tag("Toyota-Logo.png") %>
                        </div>
                    </div>
                </div>
            </div>
            <section class="corporate-events">
                <div class="container">
                    <h2 class="block-title">
                        Corporate Event And Meeting Planning Company
                    </h2>
                    <div class="corporate-events-content">
                        <p>&nbsp;</p>
                        <p>
                            <span style="font-weight: 400;">
                                Fourth Wall Events is a corporate event and meeting planning company. &nbsp;We work with companies of all sizes, including local and global brands, to plan and execute meetings and events that exceed your corporate goals. &nbsp;We work with you to produce events including product launches, shareholder meetings, sales meetings, conferences, experiential events, incentive events, trade shows, galas and more.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;">
                                Fourth Wall Events is your start to finish corporate meeting and events partner. &nbsp;We handle it all for you: 
                            </span>
                            <a href="https://www.fourthwallevents.com/event-design/">
                                <span style="font-weight: 400;">meeting and event design</span>
                            </a>
                            <span style="font-weight: 400;">, </span>
                            <a href="https://www.fourthwallevents.com/event-production/">
                                <span style="font-weight: 400;">meeting and event production</span>
                            </a>
                            <span style="font-weight: 400;">, </span>
                            <a href="https://www.fourthwallevents.com/event-planning/">
                                <span style="font-weight: 400;">meeting and event planning</span>
                            </a>
                            <span style="font-weight: 400;">, </span>
                            <a href="https://www.fourthwallevents.com/meeting-sourcing/">
                                <span style="font-weight: 400;">event sourcing</span>
                            </a>
                            <span style="font-weight: 400;">, and 
                            </span>
                            <a href="https://www.fourthwallevents.com/destination-management/"><span style="font-weight: 400;">destination management</span></a><span style="font-weight: 400;">.</span></p><p><span style="font-weight: 400;">At Fourth Wall Events we focus on helping you use events to&nbsp;achieve your&nbsp;strategic business goals. &nbsp;We take your event inspiration and make it come to life. &nbsp;Our team&nbsp;members&nbsp;are corporate meeting and event experts who manage every detail so that your event is flawless.</span></p><p><span style="font-weight: 400;">To get started on making your next event one remember to call us at 888-434-5868 or </span><a href="https://www.fourthwallevents.com/partner-with-us/">
                                <span style="font-weight: 400;">click here to get more information.
                                </span>
                            </a>
                        </p>

                    </div>
                </div>
            </section>
            <section class="what icons-large">
                <div class="container">
                    <h2 class="block-title">
                        WHAT WE DO
                    </h2>
                    <ul>
                        <li class="design">
                          <%= image_tag("Icon_Design.png") %>
                        </li>
                        <li>
                          <%= image_tag("Icon_Production.png") %>
                        </li>
                        <li class="logistics">
                          <%= image_tag("Icon_MeetingPlanning.png") %>
                        </li>
                        <li class="half">
                          <%= image_tag("Icon_Sourcing.png") %>
                        </li>
                        <li class="half">
                          <%= image_tag("Icon_DM.png") %>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="work-circle">
                <div class="container">
                    <h2 class="block-title">
                        Our Work
                    </h2>
                    <ul>
                        <li> 
                            <span class="side front">
                                <h6>Meetings &amp; Conferences</h6>
                            </span>
                            <span class="side back" style="padding-top:33%;">
                                <h6>Meetings &amp; Conferences</h6>
                                <br><br>
                                <a href="/gallery/#meetings" title="View Gallery">View Gallery</a>
                            </span>
                        </li>
                        <li class="blue">
                            <span class="side front">
                                <h6>Incentives</h6>
                            </span> 
                            <span class="side back" style="padding-top:33%;">
                                <h6>Incentives</h6>
                                <br>
                                <a href="/gallery/#incentives" title="View Gallery">View Gallery</a>
                            </span>
                        </li>
                        <li class="left"> 
                            <span class="side front">
                                <h6>Tradeshows</h6></span>
                            <span class="side back" style="padding-top:33%;">
                                <h6>Tradeshows</h6>
                                <br><br>
                                <a href="/gallery/#tradeshows" title="View Gallery" style="color:#444444; border:1px solid #444444;">View Gallery</a>
                            </span></li>
                        <li class="green"> <span class="side front"><h6>Roadshows</h6></span> <span class="side back" style="padding-top:20%;"><h6>Roadshows</h6><br><br><a href="/gallery/#roadshows" title="View Gallery">View Gallery</a></span></li><li class="pink"> <span class="side front"><h6>Product Launches</h6></span> <span class="side back" style="padding-top:33%;"><h6>Product Launches</h6><br><br><a href="/gallery/#product-launches" title="View Gallery">View Gallery</a></span></li><li class="blue-light"> <span class="side front"><h6>Galas</h6></span> <span class="side back" style="padding-top:20%;"><h6>Galas</h6><br><br><a href="/gallery/#galas" title="View Gallery">View Gallery</a></span></li><li class="right"> <span class="side front"><h6>Experiential Events</h6></span> <span class="side back" style="padding-top:33%;"><h6>Experiential Events</h6><br><br><a href="/gallery/#experiential-events" title="View Gallery">View Gallery</a></span></li></ul>
                </div>
            </section>
            <section class="two-sections">
                <div class="clearfix">
                    <div>
                        
                            <h3 class="widget-title">Our Latest Events</h3>
                            <h4 class="entry-title">
                                <a href="https://www.fourthwallevents.com/complete-event-planning-services-all-under-one-roof/" rel="bookmark">
                                    Complete event planning services, all under one roof
                                </a>
                            </h4>
                            <div class="entry-summary">
                                <p>
                                    While other firms are typically production or logistics companies, Fourth Wall Events is a one-stop shop offering the full array of event-planning services: planning, design, production, and management. Backed by our dynamic team of experienced professionals, we offer complete, beginning-to-end delivery of every aspect of your event—along with the management know-how to seamlessly coordinate a
                                    <a href="https://www.fourthwallevents.com/complete-event-planning-services-all-under-one-roof/" class="excerpt">[…]</a>
                                </p>
                            </div>
                        
                    </div>
                </div>
            </section>
            
            <section class="testimonial-section">
                <div class="container">
                    <h2 class="block-title">testimonials</h2>
                    <div class="testimonial_slider">
                        <div class="testimonial_slide">
                            <div class="testimonial_outer_wrap">
                                <div class="testimonial_avatar_wrap">
                                    <span class="testimonial_avatar">
                                        <img src="https://www.fourthwallevents.com/wp-content/uploads/2018/02/Kathleen.jpg" alt="Kathleen Collins">
                                    </span>
                                </div>
                                
                                <div class="testimonial_content_wrap">
                                    <div class="testimonial_content" style="font-family:'Lucida Sans Unicode', 'Lucida Grand', sans-serif;;font-size:16px;font-weight:normal;font-style:normal;color:#ffffff;"><span> Fourth Wall Events brings together a dream team of event professionals who work with you to deliver show stopping productions designed to “wow” any audience. ...</span><p class="more"><a href="https://fourthwallevents.com/testimonials">Read More</a>
                                        </p>
                                            </div>
                                        </div>
                                <div class="testimonial_by_wrap">
                                    <div class="testimonial_by_text">
                                        <span class="testimonial_by">Kathleen Collins</span>
                                        <span class="testimonial_site">Choice Hotels</span>
                                    </div>
                                </div>
                                        <div class="sldr_clearlt"></div>
                                        <div class="sldr_clearrt"></div>
                                            
                            </div>
                            
                        </div>
                        <div class="testimonial_slide">
                            <div class="testimonial_outer_wrap">
                                <div class="testimonial_avatar_wrap">
                                    <span class="testimonial_avatar">
                                        <img src="https://fourthwallevents.com/wp-content/uploads/2016/01/Jennifer-Rondinelli-150x150.png" alt="Jennifer Rondinelli">
                                    </span>
                                </div>
                                
                                <div class="testimonial_content_wrap">
                                    <div class="testimonial_content" style="font-family:'Lucida Sans Unicode', 'Lucida Grand', sans-serif;;font-size:16px;font-weight:normal;font-style:normal;color:#ffffff;">
                                        <span>
                                            <p>
                                                I have had the pleasure of working with Fourth Wall Events for over six years and am always so impressed with their professionalism, expertise and .
                                                ..
                                            </p>
                                            <p class="more">
                                                <a href="/testimonials/#pg-1716-1">Read More</a>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <div class="testimonial_by_wrap">
                                    <div class="testimonial_by_text">
                                        <span class="testimonial_by">
                                            Jennifer Rondinelli
                                        </span>
                                        <span class="testimonial_site">
                                            MAC Cosmetics
                                        </span>
                                    </div>
                                </div>
                                <div class="sldr_clearlt"></div>
                                <div class="sldr_clearrt"></div>
                                
                            </div>
                        </div>
                        <div class="testimonial_slide">
                            <div class="testimonial_outer_wrap">
                                <div class="testimonial_avatar_wrap">
                                    <span class="testimonial_avatar">
                                        <img src="https://www.fourthwallevents.com/wp-content/uploads/2018/02/Kathleen.jpg" alt="Kathleen Collins">
                                    </span>
                                </div>
                                
                                <div class="testimonial_content_wrap">
                                    <div class="testimonial_content" style="font-family:'Lucida Sans Unicode', 'Lucida Grand', sans-serif;;font-size:16px;font-weight:normal;font-style:normal;color:#ffffff;"><span> Fourth Wall Events brings together a dream team of event professionals who work with you to deliver show stopping productions designed to “wow” any audience. ...</span><p class="more"><a href="https://fourthwallevents.com/testimonials">Read More</a>
                                        </p>
                                            </div>
                                        </div>
                                <div class="testimonial_by_wrap">
                                    <div class="testimonial_by_text">
                                        <span class="testimonial_by">Kathleen Collins</span>
                                        <span class="testimonial_site">Choice Hotels</span>
                                    </div>
                                </div>
                                        <div class="sldr_clearlt"></div>
                                        <div class="sldr_clearrt"></div>
                                            
                            </div>
                            
                        </div>
                        <div class="testimonial_slide">
                            <div class="testimonial_outer_wrap">
                                <div class="testimonial_avatar_wrap">
                                    <span class="testimonial_avatar">
                                        <img src="https://fourthwallevents.com/wp-content/uploads/2016/01/Jennifer-Rondinelli-150x150.png" alt="Jennifer Rondinelli">
                                    </span>
                                </div>
                                
                                <div class="testimonial_content_wrap">
                                    <div class="testimonial_content" style="font-family:'Lucida Sans Unicode', 'Lucida Grand', sans-serif;;font-size:16px;font-weight:normal;font-style:normal;color:#ffffff;">
                                        <span>
                                            <p>
                                                I have had the pleasure of working with Fourth Wall Events for over six years and am always so impressed with their professionalism, expertise and .
                                                ..
                                            </p>
                                            <p class="more">
                                                <a href="/testimonials/#pg-1716-1">Read More</a>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <div class="testimonial_by_wrap">
                                    <div class="testimonial_by_text">
                                        <span class="testimonial_by">
                                            Jennifer Rondinelli
                                        </span>
                                        <span class="testimonial_site">
                                            MAC Cosmetics
                                        </span>
                                    </div>
                                </div>
                                <div class="sldr_clearlt"></div>
                                <div class="sldr_clearrt"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="connect-us">
                <div class="container">
                    <h2 class="block-title">STAY CONNECTED</h2>
                    <div class="social-media">
                        <a class="social-media-link facebook">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a class="social-media-link twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="social-media-link instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="social-media-link linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="social-media-link pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a class="social-media-link google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </section>
            <section class="googleMap">
                <div id="googleMapPlaceHolder"></div>
                <div class="container">
                    <h2 class="block-title">Write Us</h2>
                    <div>
                      <%= form_tag("/send_request", method: "post") do %>
                        <%= label_tag(:name, "Your Name") %>
                        <%= text_field_tag :name,"Your Name", :class => "form-control" %>
                        <%= label_tag(:email, "Your Email") %>
                        <%= text_field_tag :email, "Your Email", :class => "form-control" %>
                        <%= label_tag(:message, "Message") %>
                        <%= text_area_tag :message, "Hi, please write your message here!", size: "24x6", :class => "form-control" %>
                        <%= submit_tag("Send Request") %>
                      <% end %>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="sidebar-column col-md-5">
                        <aside id="sydney_contact_info-2" class="widget sydney_contact_info_widget">
                            <h6 class="footer-title">
                                <a target="_blank" href="http://www.google.com/maps/place/209+W+40th+St+%23201,+New+York,+NY+10018,+USA/@40.7552184,-73.9904972,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259ab5a71e81d:0xe3d57a100e652f06">New York Office</a>
                            </h6>
                            <div class="contact-address">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <a target="_blank" href="http://www.google.com/maps/place/209+W+40th+St+%23201,+New+York,+NY+10018,+USA/@40.7552184,-73.9904972,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259ab5a71e81d:0xe3d57a100e652f06">209 W. 40th St., Suite 201, New York, NY 10018</a>
                            </div>
                            <div class="contact-email">
                                <span>
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <a href="mailto:info@fourthwallevents.com">info@fourthwallevents.com</a>
                            </div>
                            <div class="contact-phone">
                                <span>
                                    <i class="fa fa-phone"></i>
                                </span>
                                <a href="tel:888.434.5868">888.434.5868</a>
                            </div>
                        </aside>
                    </div>
                    <div class="sidebar-column col-md-5">
                        <aside id="sydney_contact_info-3" class="widget sydney_contact_info_widget">
                            <h3 class="widget-title">
                                <a target="_blank" href="http://www.google.com/maps/place/6540+Lusk+Blvd,+San+Diego,+CA+92121/@32.9009954,-117.2107419,15z/data=!4m5!3m4!1s0x80dc07123325b26f:0xc35be2ce7f7b04dc!8m2!3d32.9009909!4d-117.2019872">San Diego Office</a>
                            </h3>
                            <div class="contact-address">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <a target="_blank" href="http://www.google.com/maps/place/6540+Lusk+Blvd,+San+Diego,+CA+92121/@32.9009954,-117.2107419,15z/data=!4m5!3m4!1s0x80dc07123325b26f:0xc35be2ce7f7b04dc!8m2!3d32.9009909!4d-117.2019872">6540 Lusk Boulevard, Suite C156, San Diego, CA 92121</a>
                            </div>
                            <div class="contact-email">
                                <span>
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <a href="mailto:info@fourthwallevents.com">info@fourthwallevents.com</a>
                            </div>
                            <div class="contact-phone">
                                <span>
                                    <i class="fa fa-phone"></i>
                                </span>
                                <a href="tel:877.384.4077">877.384.4077</a>
                            </div>
                        </aside>
                    </div>
                    
            </div>
            <div class="copy-right">
                <div class="site-info container">
                    © 2018 Five Dimensions Events 
                </div>
            </div>
        </footer>
        
        <script>
            $(document).ready(function () {
                $(window).resize(function () {
                    var bodyheight = $(this).height();
                    $(".herosection").height(bodyheight);
                }).resize();
            });
            $('.herosection-slider').slick({
                fade: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 2000
            });
            $('.client-slide').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 5,
                arrows: false,
                dots: true
            });
            $('.testimonial_slider').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                arrows: false,
                dots: true,
                autoplay:true
            });
            
        </script> 
    </body>
</html>
